section {
    padding: 20px;

    @include media-breakpoint-up(md) {
      padding-top:    50px;
      padding-bottom: 50px;
      padding-left:   100px;
      padding-right:  100px;
    }

    @include media-breakpoint-up(lg) {
        padding-top:    50px;
        padding-bottom: 50px;
        padding-left:   100px;
        padding-right:  100px;
    }
}
