<header>
  <div class="header-content">
    {% if page.profile-image %}
      <div class="square-image header-image circle">
        <img src="{{ page.profile-image }}" />
      </div>
    {% endif %}
    <h1>{{ page.title }}</h1>
    <div class="header-description">
      <p>{{ page.description }}</p>
    </div>
    {% if page.demo-link %}
    <div class="header-link">
      <a href="{{page.demo-link}}" target="blank">
        <h2>
          <i class="fas fa-laptop"></i>
          Demo
        </h2>
      </a>
    </div>
    {% endif %}

    {% if page.repo-link %}
    <div class="header-link">
      <a href="{{page.repo-link}}" target="blank">
        <h2>
          <i class="fab fa-github"></i>
          Code
        </h2>
      </a>
    </div>
    {% endif %}

  </div>
</header>
{% if page.image %}
<div class="hero-image">
  <image src="{{page.image}}" />
</div>
{% endif %}
