html {
  // Look in _includes/inline-styles.html for this: We want to set from config
  // background: url(../img/road.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
