.projects{

}

.project .image a img{
  border-radius: 1rem;
  width: 100%;
  border: 0.10rem solid $border-color;
  @include drop-shadow($shadow-color);
}

.project .description{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
