.rectangle-image{
  position: relative;
  overflow: hidden;
}

.rectangle-image:after{
  content: "";
  display: block;
  padding-bottom: 70%;

}

.rectangle-image img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
}
