@font-face {
  font-family: "akzidenz-black";
  src: url("../fonts/akzidenz/Akzidenz-grotesk-black.ttf");
}
@font-face {
  font-family: "akzidenz-bold";
  src: url("../fonts/akzidenz/Akzidenz-grotesk-bold.ttf");
}
@font-face {
  font-family: "akzidenz-light";
  src: url("../fonts/akzidenz/Akzidenz-grotesk-light.ttf");
}
@font-face {
  font-family: "akzidenz-roman";
  src: url("../fonts/akzidenz/Akzidenz-grotesk-roman.ttf");
}
@font-face {
  font-family: "akzidenz-regular";
  src: url("../fonts/akzidenz/Akzidenz-grotesk-regular.otf");
}
@font-face {
  font-family: "akzidenz-italic";
  src: url("../fonts/akzidenz/Akzidenz-grotesk-italic.otf");
}
