.navbar-brand{
    // padding-left: 20px;
    // padding-right: 20px;
}

.navbar-toggler{
  float: right;
}


nav {
  background-color: $nav-background-color;
}

nav a {
  background-color: $nav-a-background-color !important;
  color: $nav-a-color !important;
}

nav a:hover {
    background-color: $nav-a-hover-background-color !important;
    color: $nav-a-hover-color !important;
}

nav a.active {
  background-color: $nav-a-active-background-color !important;
  color: $nav-a-active-color !important;
}
